/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {

  --main-font-family: "IBM Plex mono", sans-serif;

  --title-color: #db00ff;
  --title-secondary-color: #000028;
  --title-special-color: #ff0070;

  --text-color: #f1b2ce;
  --text-secondary-color: #000028;
  --text-special-color: #ff0070;

  --accent-color: #ff0070;

  --main-background-color: #000028;

  --outline-color: #ff0070;
  --outline-hover-color: #ff007066;

  --header-background-image: url("../images/cover-image-dark.png");
}
